<head>
  <meta name="description" content="Shows contact details of author" />
</head>

<div class="min-w-screen min-h-screen unsplash-blue">
  <div class="flex mx-auto pt-10 h-screen w-full justify-center" *ngIf="user">
    <div class="max-w-xs">
      <div class="info-card shadow-xl">
        <div class="photo-wrapper px-2 pt-5">
          <img
            class="w-40 h-40 rounded-full mx-auto"
            [src]="user.avatar_url"
            alt="Github user profile photo"
          />
        </div>
        <div class="p-2">
          <h3
            class="text-center text-xl text-gray-900 font-medium leading-8 pb-1"
          >
            <span class="text-xs text-gray-600 italic">App by</span>
            {{ user.name }}
          </h3>
          <div class="table-text-left text-center">
            <p class="pb-1 px-2 text-gray-600 text-xs">
              <span class="text-gray-900 font-bold"
                >{{ user.bio | slice: 0:42 }}
              </span>
              {{ user.bio | slice: 42 }}
            </p>
          </div>
          <table class="text-xs my-2 mx-auto">
            <tbody>
              <tr>
                <td class="px-2">
                  <span class="text-gray-900 font-bold">Github Repos:</span>
                </td>
                <td class="px-2 text-gray-600 text-xs">
                  {{ user.public_repos }}
                </td>
              </tr>
              <tr>
                <td class="px-2">
                  <span class="text-gray-900 font-bold">Location:</span>
                </td>
                <td class="px-2 text-gray-600 text-xs">Spain, France</td>
              </tr>
              <tr>
                <td class="px-2">
                  <span class="text-gray-900 font-bold">Mis à Jour</span>
                </td>
                <td class="px-2 text-gray-600 text-xs">
                  {{ user.updated_at | date }}
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-center my-3">
            <a
              class="text-xs text-indigo-600 italic hover:underline hover:text-indigo-800 font-medium mr-5"
              href="https://github.com/AndrewJBateman"
              target="_blank"
              rel="noopener noreferrer"
              >See my Github profile</a
            >
            <a
              class="text-xs text-indigo-600 italic hover:underline hover:text-indigo-800 font-medium"
              href="https://andrewbateman.org/contact"
              target="_blank"
              rel="noopener noreferrer"
              >Send me a message</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
