<!--This code snippet represents an HTML structure for displaying details of an app.
  It includes a header with a meta description, a body with a container for the app details,
  and various elements such as images, text, and links.
  The code utilizes classes from the TailwindCSS framework for styling and includes information
  about the stack, testing, and image credit. Additionally, it provides links to the GitHub
  repository and the image source on Unsplash. -->
<head>
	<meta name="description" content="Shows details of app" />
</head>

<body class="min-h-screen min-w-screen">
	<div class="flex justify-center w-full h-screen pt-10 mx-auto">
		<div class="max-w-xs">
			<div class="rounded-lg info-card">
				<div class="p-2 pt-5 pb-0 photo-wrapper">
					<img
						class="w-40 h-40 mx-auto rounded-full"
						width="40px"
						height="40px"
						src="../../../assets/butterfly.svg"
						alt="Image of butterfly" />
				</div>

				<div class="p-2">
					<h4
						class="pb-1 text-xl font-medium leading-8 text-center text-gray-900">
						Unsplash API
					</h4>
					<div class="px-2 text-xs font-semibold text-left text-gray-600">
						<p class="pb-2">
							<span class="font-bold text-gray-900"
								>A random image is fetched from the Unsplash API</span
							>
							using the Javascript Reactive Extensions (RxJS) library to
							subscribe to an API JSON data Observable
						</p>
						<p>
							<span class="font-bold text-gray-900"
								>The data on the Contact page</span
							>
							is fetched from the Github API. No API key is required to search
							for a user. For more detailed info. an API key is required.
						</p>
					</div>
					<table class="my-2 text-xs">
						<tbody>
							<tr>
								<td class="px-2 font-semibold text-gray-500">
									<span class="font-bold text-gray-900">The Stack:</span>
								</td>
								<td class="px-2 text-xs text-gray-600">
									Angular 17, TailwindCSS 3, RxJS 7
								</td>
							</tr>
							<tr>
								<td class="px-2">
									<span class="font-bold text-gray-900">Testing:</span>
								</td>
								<td class="px-2 text-xs text-gray-600">Jasmine, Karma</td>
							</tr>
							<tr>
								<td class="px-2">
									<span class="font-bold text-gray-900">Image Credit:</span>
								</td>
								<td class="px-2">
									<a
										class="italic font-medium text-indigo-600 hover:underline hover:text-indigo-800"
										href="https://unsplash.com/photos/y0iTdaWGBxI"
										target="_blank"
										rel="noopener noreferrer"
										>Michal Mrozek on Unsplash</a
									>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="my-2 text-center">
						<a
							class="text-xs italic font-medium text-indigo-600 hover:underline hover:text-indigo-800"
							href="https://github.com/AndrewJBateman/angular-unsplash-api"
							target="_blank"
							rel="noopener noreferrer"
							>See Github Repo.</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
