.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;

  .photo-card {
    max-width: 400px;
    height: auto;
    max-height: auto;
  }

  .card-header-image {
    background-image: url('../../assets/unsplash-logo.jpg');
    background-size: cover;
  }

  mat-card-actions {
    text-align: center;
  }
}
