<!--
This code snippet represents a HTML page for a 404 error (page not found). It includes a header with a meta description, a body with a centered container, and a message indicating that the requested page does not exist. It also includes a link to the home page. The HTML classes and styles used are for layout and styling purposes.
-->

<head>
	<meta name="description" content="page not found error" />
</head>

<body class="flex justify-center w-full h-screen py-32 bg-gray-100">
	<div class="p-12 text-center border rounded-lg shadow-xl max-w-6/12">
		<div class="pt-10 text-3xl font-bold md:text-3xl">404: Page not found</div>
		<div class="mt-4 text-xl font-normal">
			Oh dear!, the page you tried to display doesn't exist.
		</div>
		<div class="relative flex justify-center h-12 mt-6">
			<div
				class="absolute flex px-4 py-2 text-lg font-medium text-green-100 bg-green-600 rounded shadow-md cursor-pointer tr-mt svelte-jqwywd">
				<a href="/">Go to Home page</a>
			</div>
		</div>
	</div>
</body>
