@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  main {
    padding-top: 0rem;
    padding-left: 0 !important;
  }

  nav {
    border-bottom: 4px solid #000c66;
    background: white;
    height: 4rem;
  }

  .nav-link {
    color: #000c66 !important;
    @apply mx-2;
  }

  .nav-right {
    @apply ml-2 rounded hover:bg-gray-50;
  }

  .nav-link-active {
    color: #0000ff !important;
  }

  .unsplash-blue {
    background-color: #7ec8e3;
  }

  .info-card {
    background-color: rgb(245, 243, 243);
    @apply rounded-lg;
  }
}
